* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #ffffff;
    color: #181823;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
    overflow-x: hidden;
}
body.dark {
    background-color: #181823;
    color: #ffffff;
}

.toggle {
    float: right;
    position: relative;
    height: 30px;
    width: 8rem;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border: 3px solid #537FE7;
    cursor: pointer;
    padding: 20px;
}

.toggle:hover {
    background-color: #4070F4;
    opacity: 80%;
}
.toggle::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #181823;
    border-radius: 50%;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle.active::before {
    background: #ffffff;
    left: calc(100% - 30px - 14px)
}


.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 1.5rem;
    align-items: center;
}
.header ul {
    display: flex;
    list-style-type: none;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
    margin-left: auto;
    padding-right: 5rem;
}
.header .logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 25px;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    margin: 0px auto;
    order: 1;
    width: 40%;
    padding-top: 2.5rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row-reverse;
}
.dp {
    height: 28rem;
    width: 20rem;
    background-size: cover !important;
    border-radius: 15%;
    float: right;
    padding: 20px;
    outline: 2.5px solid #537FE7;
    cursor: pointer;
}
.dp:hover {
    animation: shakedp 5s;
    outline: 3px solid gray;
}

.slides {
    width: 20rem;
    height: 28rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 10%;
    transition: 2s;
}

.slide .dp {
    width: 20rem;
    height: 28rem;
}



.hero-title {
    order: 2;
    width: 60%;
    padding-top: 5rem;
    padding-left: 5rem;
    overflow: hidden;
}
.hero-title p {
    font-size: 47px;
    line-height: 60px;
}
.hero-title .name {
    font-size: 50px;
    letter-spacing: 3px;
}
.hero-title .position {
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 30rem;
    display: flex;
    padding-top: 0.75rem;
    color: #4070F4;
}
.hero-title .position::before {
    content:"";
    position: absolute;
    height: 50px;
    width: 30rem;
    background-color: #ffffff;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(19) infinite;
}

.hero-title .details {
    width: 55%;
    padding-top: 0.75rem;
    font-weight: 200;
    letter-spacing: 3px;
    padding-bottom: 2.5rem;
    line-height: 1.75;
}
.explore {
    display: flex;
    gap: 3rem;
}
.hero-title .explore button {
    border-radius: 10px;
    /* padding: 12px 15px; */
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    color: #4070F4;
    background-color: #4070F4;
    width: 9rem;
}
.hero-title .explore button:hover {
    background: #4070F4;
    color: white;
    opacity: 80%;
}
.hero-title .explore a {
    text-decoration: none;
    color: white;
}

.socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    padding-top: 50px;
    height: 8rem;
    cursor: pointer;
}
.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 2.5px solid #537FE7;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.socials li {
    align-items: center;
    justify-content: center;
}

.icon:hover {
    outline-offset: 4px;
    outline: 3px solid #537FE7;
}
.icon i {
    margin: auto;
    color: #537FE7;
}
.icon:hover i {
    animation: shake 0.25s;
}

.main-content {
    opacity: 0; /* Initially hide the content */
    transition: opacity 0.5s ease-in-out; /* Apply a smooth transition */
}
.main-content.fade-in {
    opacity: 1; /* Show the content when the fade-in class is applied */
}

.work-experience {
    margin-top: 10rem;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.cards {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
}
img {
    height: 6rem;
    width: 6rem;
    border: 1px solid #537FE7;
    padding: 1px;
    border-radius: 50%;
}
.card {
    height: auto;
    width: 25rem;
    padding: 20px;
}
.card-content {
    padding-top: 1rem;
    letter-spacing: 2.5px;
}
.card-content h3 {
    font-size: 25px;
}
.card-content p {
    font-size: 12px;
    margin: 5px 0px;
    justify-content: left;
}
.card-content .position {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.card-content .position p {
    padding-bottom: 20px;
}

.footer {
    width: 100%;
    height: 2rem;
    padding: 0;
    background: #181823;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card {
    display: flex;
    gap: 5rem;
}

.technologies, .education, .projects, .recommendation {
    padding-top: 10rem;
}
/*Keyframes*/

@keyframes animate {
    0% {
        left: 44%;
    }
    100% {
        left: 75%;
    }
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}
@keyframes shakedp {
    10% {
        transform: rotate(1deg);
    }
    20% {
        transform: rotate(-1deg);
    }
    30% {
        transform: rotate(1deg);
    }
    40% {
        transform: rotate(-1deg);
    }
}


/*For Mobile Devices*/
@media(max-width: 768px) {
    body {
        height: 100%;
        width: 100%;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    .front {
        display: block;
    }   

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .dp {
        width: 15rem;
        height: 20rem;
    }   

    .slides {
        width: 15rem;
        height: 20rem;
    }

    .slide .dp {
        width: 15rem;
        height: 20rem;
    }
    
    .hero-title {
        order: 2;
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
    .hero-title p {
        font-size: 17px;
        line-height: 4rem;
    }
    .hero-title .name {
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .hero-title .position {
        font-size: 17px;
        letter-spacing: 5px;
        width: 100%;
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
    .hero-title .position::before {
        display: none;
    }
    
    .hero-title .details {
        width: 100%;
    }

    .socials {
        display: block;
    }
    .explore {
        justify-content: center;
    }
    .cards {
        display: block;
        padding: 2rem;
    }
}
