* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #E9F8F9;
    color: #181823;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}
body.dark {
    background-color: #181823;
    color: #E9F8F9;
}

.toggle {
    float: right;
    position: relative;
    height: 30px;
    width: 80px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border: 1px solid #537FE7;
    cursor: pointer;
    padding: 20px;
}
.toggle::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #181823;
    border-radius: 50%;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle.active::before {
    background: #E9F8F9;
    left: calc(100% - 30px - 14px)
}


.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 1.5rem;
    align-items: center;
}
.header ul {
    display: flex;
    list-style-type: none;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
    margin-left: auto;
    padding-right: 5rem;
}
.header .logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 25px;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    margin: 0px auto;
    order: 1;
    width: 40%;
    padding-top: 13rem;
    display: flex;
    flex-direction: row-reverse;
}
.dp {
    height: 20rem;
    width: 20rem;
    background-size: cover !important;
    border-radius: 50%;
    float: right;
    padding: 20px;
    outline: 2.5px solid #537FE7;
}

.hero-title {
    order: 2;
    width: 60%;
    padding-top: 13rem;
    padding-left: 5rem;
    overflow: hidden;
}
.hero-title p {
    font-size: 47px;
    line-height: 60px;
}
.hero-title .name {
    font-size: 50px;
    letter-spacing: 3px;
}
.hero-title .position {
    font-size: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 30rem;
    display: flex;
    padding-top: .8rem;
    color: #4070F4;
}
.hero-title .position::before {
    content:"";
    position: absolute;
    height: 50px;
    width: 30rem;
    background-color: #E9F8F9;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(19) infinite;
}
@keyframes animate {
    0% {
        left: 44%;
    }
    100% {
        left: 75%;
    }
}

.hero-title .details {
    width: 55%;
    padding-top: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 2.5rem;
    font-style: italic;
}
.hero-title .explore button {
    background: black;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    /* color: white; */
    padding: 12px 15px;
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.hero-title .explore button:hover {
    background: white;
}

.socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    padding-top: 50px;
}
.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 2.5px solid #537FE7;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.socials li {
    align-items: center;
    justify-content: center;
}

.icon:hover {
    outline-offset: 4px;
}
.icon i {
    margin: auto;
    color: #537FE7;
}
.icon:hover i {
    animation: shake 0.25s;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}