body {
  display: flex;
  background: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  background: #EEF2F3;
  margin: auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Gotham', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important; }
  body .header {
    position: absolute;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #BCC0C1;
    z-index: 1; }
  body .navi {
    position: absolute;
    display: flex;
    left: 0;
    min-width: 300px;
    width: 25vw;
    height: 100vh;
    background-color: #2C5364;
    z-index: 2; }
    body .navi .links {
      display: flex;
      flex-flow: column nowrap;
      margin: auto; }
      body .navi .links a {
        background-image: linear-gradient(to right, #00b4db, #0083b0) !important;
        margin: 15px;
        padding: 10px 30px;
        border-radius: 47px;
        font-size: 2rem;
        line-height: 3rem;
        text-decoration: none;
        text-align: center;
        color: white; }
        body .navi .links a .title {
          font-size: 1.25rem;
          padding-bottom: 8px !important; }
  body .footer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background-color: #BCC0C1;
    z-index: 1; }
  body .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 100px;
    user-select: none; }
  body .title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1rem;
    color: #2C5364; }
  body .symbols, body .salary, body .convert, body .counter {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 100px; }
    body .symbols .text, body .salary .text, body .convert .text, body .counter .text {
      width: 100%;
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      color: #2C5364; }
      body .symbols .text .symbol, body .salary .text .symbol, body .convert .text .symbol, body .counter .text .symbol {
        display: block;
        font-size: 1.5rem;
        margin-top: 10px; }
      body .symbols .text #converted, body .symbols .text #year-old, body .symbols .text #month-old, body .salary .text #converted, body .salary .text #year-old, body .salary .text #month-old, body .convert .text #converted, body .convert .text #year-old, body .convert .text #month-old, body .counter .text #converted, body .counter .text #year-old, body .counter .text #month-old {
        font-family: monospace;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline; }
  body .convert, body .counter {
    margin-top: 96px !important; }
    body .convert .text, body .counter .text {
      font-size: 1.5rem; }
  body form {
    display: flex; }
    body form .colon {
      font-size: 5rem;
      line-height: 11rem;
      color: #BCC0C1; }
    body form .slash {
      font-size: 5rem;
      line-height: 12rem;
      color: #BCC0C1; }
    body form .input-container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      body form .input-container label {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2rem;
        color: #2C5364; }
      body form .input-container input {
        font-family: monospace;
        font-size: 7rem !important;
        display: inline-flex;
        background: rgba(255, 255, 255, 0);
        margin: 24px;
        width: 15rem;
        border: 2px solid;
        border-radius: 16px;
        padding: 16px 18px;
        text-align: center;
        color: #2C5364;
        font-size: 5rem;
        font-weight: normal;
        transition: all 500ms ease-in; }
        body form .input-container input:focus, body form .input-container input:active, body form .input-container input:hover {
          outline: none;
          color: #2C5364;
          font-weight: 500;
          transform: scale(1.005);
          box-shadow: 0 35px 100px rgba(0, 0, 0, 0.003), 0 10px 25px rgba(8, 8, 8, 0.222);
          transition: all 250ms ease-in-out; }
        body form .input-container input::placeholder {
          font-weight: normal;
          color: #BCC0C1; }
        body form .input-container input .valid {
          font-weight: 500;
          color: #EEF2F3;
          transition: font-weight 300ms ease-in; }
        body form .input-container input .notvalid {
          font-weight: normal;
          color: #000000;
          transition: font-weight 300ms ease-in; }
        body form .input-container input .invalid {
          box-shadow: none;
          animation: blink 500ms ease forwards;
          transition: all 500ms ease; }

@keyframes blink {
  0%, 40%, 80% {
    background: #ffebee; }
  20%, 60%, 100% {
    background: white; } }
  body #salary {
    width: 28rem !important; }
  body #service {
    width: 13rem !important; }
